body {
  font-family: "Lucida Console";
}
a:link, a:visited {
  background-color: #2f1b9e;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #2f1b9e;
}