# Electrics Eagles Strings Dependent Configuration File.


[
GYROS:{
	"L3D4200D","#define L3D4200D_GYRO 1"
	"MPU6050","#define  MPU6050_GYRO 1"
	"MPU3050","#define  MPU3050_GYRO 1"
}
GYROS];


[
ACCELEROMETERS:{
	"LIS3DH","#define LIS3DH_ACCELEROMETER 1" 	
	"LIS3DH","#define LIS3DH_ACCELEROMETER 1" 	
}
ACCELEROMETERS];


[
BAROMETERS:{
	"BMP180","#define BMP180_BAROMETER 1"
	"BMP280","#define BMP280_BAROMETER 1"
}
BAROMETERS];


[
MOTORS:{
"2212_1600"
"2212_1600"
}
MOTORS];

[
PROPELLERS:{
"4045R"
"4045"

}
PROPELLERS];

[
CORE_LINK:{
"file:///C://Users//SoftwareDeveloper//Documents//Code//_01_DroneRelese.zip"
}
CORE_LINK];
LIB_FOLDER:{
"_01_DroneRelese"
}
LIB_FOLDER];